@font-face {
  font-family: "iconfont"; /* Project id 3392680 */
  src: url('iconfont.woff2?t=1652856571927') format('woff2'),
       url('iconfont.woff?t=1652856571927') format('woff'),
       url('iconfont.ttf?t=1652856571927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fapiaoyoujidizhi:before {
  content: "\e660";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-bianjimoban:before {
  content: "\e600";
}

.icon-script:before {
  content: "\e7e8";
}

.icon-dingwei:before {
  content: "\e602";
}

.icon-tubiao:before {
  content: "\e62d";
}

.icon-diqiu:before {
  content: "\e62e";
}

.icon-shoujidiannao:before {
  content: "\e62f";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-dianhua:before {
  content: "\e8c3";
}

