* {
  color: #fff;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 2px rgb(16 16 16 / 57%);
  list-style: none;
}

.title {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  width: 100%;
  font-size: 40px;
  letter-spacing: 15px;
  margin: 0px 0px 10px 0px;
}

.title h1 span {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
}

.title h3 {
  font-size: 20px;
  margin: 0px;
  font-weight: normal;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.icons li {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
}

.icons li:hover {
  background-color: transparent !important;
}

.icons li:nth-child(1) {
  background-color: #86DA47;
  border: 2px solid #86DA47;
}

.icons li:nth-child(1):hover i {
  color: #86DA47;
}

.icons li:nth-child(2) {
  background-color: #023e9a;
  border: 2px solid #023e9a;
}

.icons li:nth-child(2):hover i {
  color: #023e9a;
}

.icons li:nth-child(3) {
  background-color: #ec101d;
  border: 2px solid #ec101d;
}

.icons li:nth-child(3):hover i {
  color: #ec101d;
}

.icons li:nth-child(4) {
  background-color: #d34836;
  border: 2px solid #d34836;
}

.icons li:nth-child(4):hover i {
  color: #d34836;
}

.icons li i {
  font-size: 24px !important;
}

.info {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 300px;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px #fff;
  margin: 0px auto;
  line-height: 40px;
  color: #fff;
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: none;
  user-select: text;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}